/* 3x2 side bar */
.three_on_two 
{
	float: right;
	width: 56.6%;
	height: 372px;
	background: #D8D8D8;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;
}


/* 1x2 side bar */
.one_on_two
{
	float: right;
	width: 17.4%;
	height: 372px;
	background: #FFFFFF;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;
}

.one_on_two ul
{
	list-style: none;
	display: block;
}

.one_on_two ul li 
{
	position: relative;
	border-bottom: 1px solid #000000;
	padding: 0.2em 4% 0.2em 0;
}

.one_on_two ul li a:link, .one_on_two ul li a:visited 
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.one_on_two ul li a:hover
{
	background: #D8D8D8;
}


/* 2x2 side bar */
.two_on_two
{
	float: right;
	width: 37%;
	height: 372px;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;
}

.two_on_two ul
{
	list-style-type: none;
	display: block;
}

.two_on_two ul li
{
	position: relative;
	border-bottom: 1px solid #000000;
	padding: 0.2em 4% 0.2em 0;
}

.two_on_two ul li a:link, .two_on_two ul li a:visited
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.two_on_two ul li a:hover
{
	background: #D8D8D8;
}


/* 3x1 */
.three_on_one
{
	float: right;
	width: 56.6%;
	height: 175px;
	background-color: #D8D8D8;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;
}

.three_on_one ul
{
	width: 100%;
	height: 186px;
	float: right;
	font-size: 10px;
	list-style: none;
}

.three_on_one ul li 
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
	height: 8%;
	overflow: visible;
}

/* 1x3 */
.one_on_three
{
	float: right;
	width: 17.4%;
	height: 540px;
	margin-bottom: 2%;
	background: #FFFFFF;
	margin-right: 2%;
	margin-left: 0.2%;
}

.one_on_three ul
{
	list-style: none;
	display: block;
	width: 100%;
}

.one_on_three ul li 
{
	width: 96%;
	height: 20px;
	color: #000000;
	display: block;
	padding: 0.3em 5% 0 0;
	margin-bottom: 4.84%;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}

.one_on_three ul li a:link, .one_on_three ul li a:visited 
{
	width: 100%;
	height: 20px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 5% 0 0;
	border: 0;
	margin-right: -0.7em;
	margin-top: -0.3em;
}

/* 2x1 */
.two_on_one
{
	float: right;
	width: 37%;
	height: 175px;
	background: #FFFFFF;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;	
}


/* 1x1 */
.one_on_one
{
	float: right;
	width: 17.4%;
	height: 175px;
	background: #FFFFFF;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 2%;
	overflow: auto;
}

.one_on_one ul
{
	list-style-type: none;
	display: block;
}

.one_on_one ul li
{
	position: relative;
}

.one_on_one ul li a:link, .one_on_one ul li a:visited
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.one_on_one ul li a:hover
{
	background: #D8D8D8;
}

.one_on_one select
{
	width: 100%;
	margin-top: 0.1em;
	margin-right: -0.1em;
}

/* 4x4 */
.four_on_four
{
	float: left;
	width: 76.2%;
	height: 767px;
	background-color: #D8D8D8;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
}


/* Headlines */
h4.headline
{
	font-weight: bold;
	background: #D8D8D8;
	border-bottom: 0.2em solid #b9b9b9;
	padding-right: 2%;
}