/* 3x2 side bar */
.three_on_two 
{
	float: right;
	width: 56.6%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.three_on_two ul
{
	list-style-type: none;
	height: 20px;
}

.three_on_two ul li 
{
	height: 20.9px;
	padding-right: 5%;
	border-bottom: 1px solid #B8B8B8;	
}

.keys, .values, .personal_comments
{
	height: 100%;
	float: right;
	border-left: 1px solid #B8B8B8;
	font-size: 12px;
}

.keys
{
	width: 20%;
}

.values
{
	width: 26%;
}

.personal_comments
{
	width: 52%;
	border: 0;
	font-family: arial;
	padding-right: 1.3%;
}

/* 1x2 side bar */
.one_on_two
{
	float: right;
	width: 17.4%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.one_on_two ul
{
	list-style: none;
	display: block;
}

.one_on_two ul li 
{
	position: relative;
	border-bottom: 1px solid #B8B8B8;
	padding: 0.2em 4% 0.2em 0;
	font-size: 12px;
}

.one_on_two ul li a:link, .one_on_two ul li a:visited 
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.one_on_two ul li a:hover
{
	background: #D8D8D8;
}


/* 2x2 side bar */
.two_on_two
{
	float: right;
	width: 37%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.two_on_two ul
{
	list-style-type: none;
	display: block;
	font-size: 12px;
}

.two_on_two ul li
{
	position: relative;
	border-bottom: 1px solid #B8B8B8;
	padding: 0.2em 2% 0.2em 0;
}

.two_on_two ul li a:link, .two_on_two ul li a:visited
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.two_on_two ul li a:hover
{
	background: #D8D8D8;
}


/* 3x1 */
.three_on_one
{
	float: right;
	width: 56.6%;
	height: 175px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.three_on_one ul
{
	width: 100%;
	height: 186px;
	float: right;
	font-size: 10px;
	list-style: none;
}

.three_on_one ul li 
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #B8B8B8;
	height: 8%;
	/*overflow: visible;*/
}

/* 1x3 */
.one_on_three
{
	float: right;
	width: 17.4%;
	height: 540px;
	margin-bottom: 2%;
	background: #FFFFFF;
	margin-right: 2%;
	margin-left: 0.2%;
}

.one_on_three ul
{
	list-style: none;
	display: block;
	width: 100%;
}

.one_on_three ul li 
{
	width: 96%;
	height: 20px;
	color: #000000;
	display: block;
	padding: 0.3em 5% 0 0;
	margin-bottom: 4.84%;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}

/* List item pastel tags colors */
.one_on_three ul li.one
{
	background: #87B1FB;
} 
.one_on_three ul li.two
{
	background: #C2D8FE;
} 
.one_on_three ul li.three
{
	background: #A9FDFF;
} 
.one_on_three ul li.four
{
	background: #81FF81;
} 
.one_on_three ul li.five
{
	background: #B6FBB7;
} 
.one_on_three ul li.six
{
	background: #D5AEFF;
} 
.one_on_three ul li.seven
{
	background: #FFB8DA;
} 
.one_on_three ul li.eight
{
	background: #FF7D7D;
} 
.one_on_three ul li.nine
{
	background: #FEAD82;
} 
.one_on_three ul li.ten
{
	background: #FFC9AB;
} 
.one_on_three ul li.eleven
{
	background: #FDE689;
} 
.one_on_three ul li.twelve
{
	background: #FAEBB6;
} 
.one_on_three ul li.thirteen
{
	background: #E1E0E0;
} 
.one_on_three ul li.fourteen
{
	background: #D2D1D1;
} 
.one_on_three ul li.fifteen
{
	background: #B9B9B9;
} 
.one_on_three ul li.sixteen
{
	background: #A5A4A4;
} 
.one_on_three ul li.seventeen
{
	background: #87B1FB;
} 
.one_on_three ul li.eighteen
{
	background: #C2D8FE;
} 

.one_on_three ul li a:link, .one_on_three ul li a:visited 
{
	width: 100%;
	height: 20px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 5% 0 0;
	border: 0;
	margin-right: -0.7em;
	margin-top: -0.3em;
	opacity: 1;
	font-size: 12px;
}

.one_on_three ul li a:hover
{
	opacity: 0.5;
}

/* Links pastel tags colors */
.one_on_three ul li a.one
{
	background: #87B1FB;
} 
.one_on_three ul li a.two
{
	background: #C2D8FE;
} 
.one_on_three ul li a.three
{
	background: #A9FDFF;
} 
.one_on_three ul li a.four
{
	background: #81FF81;
} 
.one_on_three ul li a.five
{
	background: #B6FBB7;
} 
.one_on_three ul li a.six
{
	background: #D5AEFF;
} 
.one_on_three ul li a.seven
{
	background: #FFB8DA;
} 
.one_on_three ul li a.eight
{
	background: #FF7D7D;
} 
.one_on_three ul li a.nine
{
	background: #FEAD82;
} 
.one_on_three ul li a.ten
{
	background: #FFC9AB;
} 
.one_on_three ul li a.eleven
{
	background: #FDE689;
} 
.one_on_three ul li a.twelve
{
	background: #FAEBB6;
} 
.one_on_three ul li a.thirteen
{
	background: #E1E0E0;
} 
.one_on_three ul li a.fourteen
{
	background: #D2D1D1;
} 
.one_on_three ul li a.fifteen
{
	background: #B9B9B9;
} 
.one_on_three ul li a.sixteen
{
	background: #A5A4A4;
} 
.one_on_three ul li a.seventeen
{
	background: #87B1FB;
} 
.one_on_three ul li a.eighteen
{
	background: #C2D8FE; 
} 


/* gradient items */
.linearBg1 
{
	background: -webkit-gradient(linear, right top, left top, from(#87B1FB), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -o-linear-gradient(right, #87B1FB, #FFFFFF) !important;
}

.linearBg2
{
	background: -webkit-gradient(linear, right top, left top, from(#C2D8FE), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -o-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
}
.linearBg3
{
	background: -webkit-gradient(linear, right top, left top, from(#A9FDFF), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #A9FDFF, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #A9FDFF, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #A9FDFF, #FFFFFF) !important;
	background: -o-linear-gradient(right, #A9FDFF, #FFFFFF) !important;
}
.linearBg4
{
	background: -webkit-gradient(linear, right top, left top, from(#81FF81), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #81FF81, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #81FF81, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #81FF81, #FFFFFF) !important;
	background: -o-linear-gradient(right, #81FF81, #FFFFFF) !important;
}
.linearBg5
{
	background: -webkit-gradient(linear, right top, left top, from(#B6FBB7), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #B6FBB7, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #B6FBB7, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #B6FBB7, #FFFFFF) !important;
	background: -o-linear-gradient(right, #B6FBB7, #FFFFFF) !important;
}
.linearBg6
{
	background: -webkit-gradient(linear, right top, left top, from(#D5AEFF), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #D5AEFF, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #D5AEFF, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #D5AEFF, #FFFFFF) !important;
	background: -o-linear-gradient(right, #D5AEFF, #FFFFFF) !important;
}
.linearBg7
{
	background: -webkit-gradient(linear, right top, left top, from(#FFB8DA), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FFB8DA, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FFB8DA, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FFB8DA, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FFB8DA, #FFFFFF) !important;
}
.linearBg8
{
	background: -webkit-gradient(linear, right top, left top, from(#FF7D7D), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FF7D7D, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FF7D7D, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FF7D7D, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FF7D7D, #FFFFFF) !important;
}
.linearBg9
{
	background: -webkit-gradient(linear, right top, left top, from(#FEAD82), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FEAD82, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FEAD82, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FEAD82, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FEAD82, #FFFFFF) !important;
}
.linearBg10
{
	background: -webkit-gradient(linear, right top, left top, from(#FFC9AB), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FFC9AB, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FFC9AB, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FFC9AB, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FFC9AB, #FFFFFF) !important;
}
.linearBg11
{
	background: -webkit-gradient(linear, right top, left top, from(#FDE689), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FDE689, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FDE689, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FDE689, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FDE689, #FFFFFF) !important;
}
.linearBg12
{
	background: -webkit-gradient(linear, right top, left top, from(#FAEBB6), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #FAEBB6, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #FAEBB6, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #FAEBB6, #FFFFFF) !important;
	background: -o-linear-gradient(right, #FAEBB6, #FFFFFF) !important;
}
.linearBg13
{
	background: -webkit-gradient(linear, right top, left top, from(#E1E0E0), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #E1E0E0, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #E1E0E0, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #E1E0E0, #FFFFFF) !important;
	background: -o-linear-gradient(right, #E1E0E0, #FFFFFF) !important;
}
.linearBg14
{
	background: -webkit-gradient(linear, right top, left top, from(#D2D1D1), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #D2D1D1, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #D2D1D1, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #D2D1D1, #FFFFFF) !important;
	background: -o-linear-gradient(right, #D2D1D1, #FFFFFF) !important;
}
.linearBg15
{
	background: -webkit-gradient(linear, right top, left top, from(#B9B9B9), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #B9B9B9, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #B9B9B9, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #B9B9B9, #FFFFFF) !important;
	background: -o-linear-gradient(right, #B9B9B9, #FFFFFF) !important;
}
.linearBg16
{
	background: -webkit-gradient(linear, right top, left top, from(#A5A4A4), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #A5A4A4, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #A5A4A4, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #A5A4A4, #FFFFFF) !important;
	background: -o-linear-gradient(right, #A5A4A4, #FFFFFF) !important;
}
.linearBg17
{
	background: -webkit-gradient(linear, right top, left top, from(#87B1FB), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #87B1FB, #FFFFFF) !important;
	background: -o-linear-gradient(right, #87B1FB, #FFFFFF) !important;
}
.linearBg18
{
	background: -webkit-gradient(linear, right top, left top, from(#C2D8FE), to(#FFFFFF)) !important;
	background: -webkit-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -moz-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -ms-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
	background: -o-linear-gradient(right, #C2D8FE, #FFFFFF) !important;
}
/* end gradient backgrounds */


input[type="text"], input[type="password"], input[type="email"]
{
	width: 103%;
	height: 109%;
	margin-right: -0.7em;
	margin-top: -0.3em;
	font-weight: bold;
	background: none;
}

input[type="submit"]
{
	width: 105%;
	height: 115%;
	font-weight: bold;
	text-align: right;
	padding-right: 5%;
	margin-right: -0.7em;
	margin-top: -0.2em;
}

/* 2x1 */
.two_on_one
{
	float: right;
	width: 37%;
	height: 175px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;	
}


/* 1x1 */
.one_on_one
{
	float: right;
	width: 17.4%;
	height: 175px;
	background: #FFFFFF;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
	
}

.one_on_one p 
{
	
}

.one_on_one ul
{
	list-style-type: none;
	display: block;
	overflow: hidden;
}

.one_on_one ul li
{
	position: relative;
	padding-right: 5%;
}

.one_on_one ul li a:link, .one_on_one ul li a:visited
{
	width: 100%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 1% 5% 1% 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin-right: -5%;
	margin-top: 0;
}

.one_on_one ul li a:hover
{
	background: #D8D8D8;
}

.one_on_one input
{
	width: 97%;
	height: 20px;
	background: #FFFFFF;
	margin-right: 0.1%;
	margin-top: 0;
	border-bottom: 1px solid #B8B8B8;
}

.one_on_one article
{
	height: 72%;
	margin-top: -0.1em;
	overflow: auto;
}

.one_on_one article img
{
	width: 100%;
	height: 100%;
	margin-right: -12%;
}

/* 4x4 */
.four_on_four
{
	float: left;
	width: 76.2%;
	height: 767px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
}

.four_on_four ul
{
	list-style-type: none;
}

.four_on_four ul li 
{
	padding: 0.1em 0.5em 0.1em 0;
	font-size: 12px;
	/*border-bottom: 1px solid #B8B8B8;*/	
}

.author, .book_name, .publishing, .catalogue_num, .design_area, .bibliography_comments
{
	height: 100%;
	float: right;
	border-left: 1px solid #B8B8B8;
	background: #FFFFFF;
}

.author
{
	width: 15%;
}

.book_name
{
	width: 15%;
}

.publishing 
{
	width: 33.3%;
}

.catalogue_num
{
	width: 12%;
}

.design_area
{
	width: 12%;
}

.bibliography_comments
{
	width: 12%;
	border: 0;
}


/* 1x4 */
.one_on_four
{
	float: right;
	width: 17.4%;
	height: 765px;
	margin-bottom: 2%;
	background: #FFFFFF;
	margin-right: 2%;
	margin-left: 0.2%;
}

.one_on_four ul
{
	list-style: none;
	display: block;
	width: 100%;
}

.one_on_four ul li 
{
	width: 96%;
	height: 20px;
	color: #000000;
	display: block;
	padding: 0.3em 5% 0 0;
	margin-bottom: 4.95%;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}

.one_on_four ul li a:link, .one_on_four ul li a:visited 
{
	width: 100%;
	height: 20px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 5% 0 0;
	border: 0;
	margin-right: -0.7em;
	margin-top: -0.2em;
	opacity: 1;
	font-size: 12px;
}

.one_on_four ul li a:hover
{
	opacity: 0.5;
}

/* Headlines */
.headline
{
	font-weight: bold;
	background: #F0F0F0;
	border-bottom: 1px solid #B8B8B8;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 12px;
}