/*-----------------------------------------------
Purpose: Main CSS File
Version: 0.2
Author: Shimi Kahlon
Date: 22-2-13
-----------------------------------------------*/

/* General definitions */
*{
	margin: 0;
	padding: 0;
 }

 #wrapper
 {
 	width: 1004px;
 	margin: 0px auto;
 	border-left: 1px solid #D0D0D0;
 	border-right: 1px solid #D0D0D0;
 }

 body
 {
 	font-family: arial;
 }

/* Header style */
.sidar_header
{
	text-decoration: none;
}

 .sidar_header img
 {
 	width: 3%;
 	height: 26px;
 	padding-top: 1%;
 	float: right;
 	margin-right: 2%;
 	border: 0;
 }

 .sidar_header span.hebrew
 {
 	font-size: 16.5px;
 	font-weight: bold;
 	color: #000000;
 	float: right;
 	padding-top: 1.4%;
 	padding-right: 0.7em;
 }

.sidar_header span.arabic
 {
 	font-size: 18px;
 	font-weight: bold;
 	color: #000000;
 	float: right;
 	padding-top: 1.3%;
 	padding-right: 1em;
 }

.sidar_header span.english
 {
 	font-size: 15px;
 	font-weight: bold;
 	color: #000000;
 	float: right;
 	padding-top: 1.4%;
 	padding-right: 1.05em;
 }

 .sidar-horizontal-logo {
	width: 96%;
	margin-right: 2%;
	padding-top: 0.5em;
}


/* Right menu NavBar */
#right_menu ul
{
	list-style-type: none;
	padding: 0;
	margin-right: 2%;
	z-index: 10;
}

#right_menu ul li
{
	float: right;
	background-color: #FFFFFF;
	margin-left: 0.9em;
}

#right_menu ul li a
{
	display: block;
	padding: 0 0.3em 0 0.4em;
	color: #000000;
	text-decoration: none;
	border-radius: 0.3em 0.3em 0 0;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

#right_menu ul li a:hover
{
	background-color: #E8E8E8;
}

#right_menu ul li ul 
{
	position: absolute;
	display: none;
	margin: 0;
	padding-top: 0.7em;

}

#right_menu ul li ul li 
{
	float: none;
	margin: 0;

}

#right_menu ul li:hover ul
{
	display: block;
}

#right_menu ul li ul li a:link, #right_menu ul li ul li a:visited 
{
	display: block;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-left: 1em;
	color: #000000;
	text-decoration: none;
	border: 1px solid #F0F0F0;
	border-radius: 0;
	font-size: 12px;
	font-weight: normal;
}

#right_menu ul li ul li a:hover
{
	background-color: #E8E8E8; 
}

#right_menu ul li ul li a img
{
	width: 10px;
	height: 10px;
	padding-left: 0.3em;
}

/* Design areas colors */
#right_menu ul li ul li a.fashion_design
{
	color: #026CB9;
}

#right_menu ul li ul li a.graphic_design
{
	color: #80ACE9;
}

#right_menu ul li ul li a.textile_design
{
	color: #77AA50;
}

#right_menu ul li ul li a.environmental_design
{
	color: #9D6397;
}

#right_menu ul li ul li a.ceramic_design
{
	color: #D78EB8;
}

#right_menu ul li ul li a.jewelry_design
{
	color: #FC513F;
}

#right_menu ul li ul li a.industrial_design
{
	color: #FCA649;
}

/* Left menu NavBar */
#left_menu ul
{
	list-style-type: none;
	padding: 0;
	margin-left: 2%;
	z-index: 10;
}

#left_menu ul li
{
	float: left;
	background-color: #FFFFFF;
	margin-right: 0.7em;
}

#left_menu ul li a
{
	display: block;
	padding: 0 0.3em 0 0.4em;
	color: #000000;
	text-decoration: none;
	border-radius: 0.3em 0.3em 0 0;
	font-size: 14px;
	font-weight: bold;
}

#left_menu ul li a:hover
{
	background-color: #E8E8E8;
}

#left_menu ul li ul 
{
	position: absolute;
	display: none;
	margin: 0;
	padding-top: 0.7em;
}

#left_menu ul li ul li 
{
	float: none;
	margin: 0;
}

#left_menu ul li:hover ul
{
	display: block;
}

#left_menu ul li ul li a:link, #left_menu ul li ul li a:visited 
{
	display: block;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-left: 1em;
	color: #000000;
	text-decoration: none;
	border: 1px solid #F0F0F0;
	border-radius: 0;
	font-size: 12px;
	font-weight: normal;
}

#left_menu ul li ul li a:hover
{
	background-color: #E8E8E8; 
}


/* Search */ 
#search input.text_input
{
	float: right;
	text-align: right center;
	width: 17.4%;
	padding: 0;
	margin-right: 2%;
	font-family: arial;
}


/* Breadcrumbs */
ul#breadcrumbs 
{
	list-style-type: none;
	font-size: 11px;
	margin-right: 2%;
	margin-top: 2%;
}

#breadcrumbs li
{
	float: right;
	color: #A0A0A0;
}

#breadcrumbs li a:link, #breadcrumbs li a:visited
{
	float: right;
	text-decoration: none;
	color: #000000;
}

#breadcrumbs li a:hover
{
	opacity: 0.7;
}

#breadcrumbs p
{
	float: right;
	padding: 0 0.5% 0;
}

ul#secondery_menu
{
	list-style-type: none;
	font-size: 11px;
	margin-left: 2%;
}

#secondery_menu li
{
	float: left;
}

#secondery_menu li a:link, #secondery_menu li a:visited
{
	float: left;
	text-decoration: none;
	color: #000000;
}

#secondery_menu li a:hover
{
	opacity: 0.7;
}

#secondery_menu p 
{
	float: left;
	padding: 0 0.5% 0 0.5em;
}

/* End Navbar style */


/* Main section */
.main_section
{
	width: 100%;
	position: relative;
}

.main_section p
{
	width: 17.4%;
	height: 175px;
	float: right;
	margin-right: 2%;
	margin-bottom: 2%;
	border: 1px solid #B8B8B8;
	text-align: center;
	position: relative;
}

.main_section a:link, .main_section a:visited
{
	width: 96%;
	height: 96%;
	background: #E8E8E8;
	margin: 2%;
	float: right;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	opacity: 0.5;
}

.main_section a:hover
{
	opacity: 1;
}

.opening_text 
{
	width: 80% !important;
	height: 80% !important;
	margin: 2% !important;
	opacity: 1 !important;
	border: 0 !important;
	border-right: 3px solid #B8B8B8 !important;
	border-bottom: 3px solid #B8B8B8 !important;
	padding: 5% 6% 9% 8%!important;
	text-align: justify !important;
	font-size: 13px !important;
	background: #F8F8F8 !important;
}


.main_section a img
{
	width: 100%;
	height: 100%;
	border: 0;
}

.main_section input[type="button"]
{
	width: 96%;
	height: 96%;
	background: #E8E8E8;
	margin: 2%;
	text-align: justify;
}

.clear
{
	clear: both;
}

/* End Main section style */


/* Footer style */
.links p 
{
	float: right;
	font-size: 9px;
	margin-right: 2%;
}

.links nav 
{
	margin-left: 1.2%;
}

.links a:link, .links a:visited
{
	float: left;
	margin-left: 0.2em;
}

.links a:hover
{
	opacity: 0.7;
}

.links img 
{
	width: 18px;
	height: 18px;
	border-radius: 0.2em;
	margin-left: 0.2em;
	border: 0;
}

.main_btn
{
	text-align: justify !important;
}
/* End footer */

/* Design areas */
.fashion_design
{
	background-color: #026CB9 !important;
}

.graphic_design
{
	background-color: #80ACE9 !important;
}

.textile_design
{
	background-color: #77AA50 !important;
}

.environmental_design
{
	background-color: #9D6397 !important;
}

.ceramic_design
{
	background-color: #D78EB8 !important;
}

.jewelry_design
{
	background-color: #FC513F !important;
}

.industrial_design
{
	background-color: #FCA649 !important;
}


/* Design areas border */
.fashion_design_border
{
	border: 1px solid #026CB9 !important;
}

.graphic_design_border
{
	border: 1px solid #80ACE9 !important;
}

.textile_design_border
{
	border: 1px solid #77AA50 !important;
}

.environmental_design_border
{
	border: 1px solid #9D6397 !important;
}

.ceramic_design_border
{
	border: 1px solid #D78EB8 !important;
}

.jewelry_design_border
{
	border: 1px solid #FC513F !important;
}

.industrial_design_border
{
	border: 1px solid #FCA649 !important;
}